<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body{
        background-color: white;
        display: flex;
        align-items:center;
        justify-content: center;
        flex: 1;
        padding: 20%;
      }
      img{
        width: 100px;
        height: 100px;
      }

    </style>
  </head>
  <body >
    <form name="initialBTN" action="/paypal">
      <!-- <img src="https://media4.giphy.com/media/yyqOUPn5souNBSHUnU/giphy.gif?cid=ecf05e4787f2hfzm24okm0lntk3ff7j8da0izrfdiqc522m6&rid=giphy.gif&ct=s" alt=""> -->
      <button type="submit">Pay</button>
    </form>
  </body>
</html>
